<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>

    <link rel="stylesheet" href="login.css">
</head>
<body>

    <main class="container">
        <div class="login-card">

            <h1>Entrar</h1>
            <p>Faça login para continuar</p>

            <form>

                <div class="input-group">
                    <label for="username">Nome</label>
                    <input
                        type="text"
                        id="username"
                        placeholder="Digite seu nome"
                    >
                </div>

                <div class="input-group">
                    <label for="password">Senha</label>
                    <input
                        type="password"
                        id="password"
                        placeholder="Digite sua senha"
                    >
                </div>

                <button type="submit">
                    Entrar
                </button>

            </form>

        </div>
    </main>

</body>
</html>